<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid style="background-color: #9c0c0c;">
    <ion-row>
      <ion-col class="ion-text-start" size="6">
        <ion-text color="light"><p><strong>Datos del trabajo</strong></p></ion-text>
      </ion-col>
      <ion-col class="ion-text-end" size="6">
        <img class="logo" style="max-width: 60%;" src="assets/img/avatar.png"/>
      </ion-col>
    </ion-row>    
  </ion-grid>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">Tipo trabajo</ion-label>
          <ion-input value="------" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Centro trabajo</ion-label>
          <ion-input value="-------" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Trabajo independiente</ion-label>
          <ion-input value="--------" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Puesto</ion-label>
          <ion-input value="------" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Trabaja en su especialidad</ion-label>
          <ion-input value="Si" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>    
  </ion-grid>
</ion-content>
