 <ion-content>
  <ion-grid style="margin-top: 50%">
    <ion-row>
      <ion-col size="4">
      </ion-col>
      <ion-col size="4">
        <img src="../../assets/img/check-green-1024x1024.png"/>
      </ion-col>
      <ion-col size="4">
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-text><h1><strong>Operación exitosa</strong></h1></ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-text>El pago se realizó correctamente</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="success" expand="full">Descargar Boleta</ion-button>
    <ion-button color="primary" expand="full">Finalizar</ion-button>
  </ion-toolbar>
</ion-footer>
