<ion-content >
  <ion-grid style="background-color: #9c0c0c;">
    <ion-row>
      <ion-col class="ion-text-start" size="6">
        <ion-text color="light"><h1>Hola</h1></ion-text>
        <ion-text class="ion-no-padding"><h1 class="title_name">{{user.CNOMB}}</h1></ion-text>
      </ion-col>
      <ion-col class="ion-text-end" size="6">
        <img class="logo" style="max-width: 60%;" src="assets/img/avatar.png"/>
      </ion-col>
    </ion-row>    
  </ion-grid>
  <hr>
  <ion-list lines="none">
    <ion-item (click)="navegar('personales')">
      <ion-icon name="accessibility-outline" slot="start"></ion-icon>
      <ion-label>Datos personales</ion-label>
    </ion-item>    
    <ion-item (click)="navegar('datoscip')">
      <ion-icon src="assets/img/carnet.svg" slot="start"></ion-icon>
      <ion-label>Datos CIP</ion-label>
    </ion-item> 
    <ion-item (click)="navegar('estudios')">
      <ion-icon src="assets/img/student.svg" slot="start"></ion-icon>
      <ion-label>Estudios</ion-label>
    </ion-item> 
    <ion-item (click)="navegar('trabajo')">
      <ion-icon src="assets/img/businessman.svg" slot="start"></ion-icon>
      <ion-label>Datos del trabajo</ion-label>
    </ion-item> 
    <ion-item (click)="exit()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-item> 
  </ion-list>
</ion-content>
