<ion-content class="ion-padding"> 
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="assets/img/Recurso 7.png"/>
        <h2>Bienvenido</h2>
        <p><b>CIP Móvil</b> es una aplicación donde pódras ver los eventos, pagar tus cuotas y certificado de habilidad, ver tu historial de pagos y datos de tu perfil.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/Recurso 3.png"/>
      <h2>Registrate</h2>
      <p>Deberas validar tu código de colegiado en la aplicación, y te mostrara el correo para que se te envie tu codigo de ingreso.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/Recurso 5.png"/>
      <h2>Revisar Codigo</h2>
      <p>Entraras a la aplicación de correo en donde se te envio tu codigo.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/Recurso 6.png"/>
      <h2>Verificar Codigo</h2>
      <p>Por ultimo introduce el código que se envio a tu correo para iniciar sesión.</p>
      <ion-button (click)="tipo('correo')" fill="clear">COMENZAR <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
  <!-- <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h1 class="title"><strong>COLEGIO DE INGENIEROS</strong></h1>
        <h1 class="title"><strong>DEL PERÚ</strong></h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <img class="logo" src="assets/img/cip_img.png"/>
      </ion-col>      
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3><strong>CONSEJO DEPARTAMENTAL</strong></h3>
        <h3><strong>AREQUIPA</strong></h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3><strong>INICIAR SESIÓN EN CIP CDA</strong></h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button expand="block" size="large" color="primary" (click)="tipo('correo')">CORREO ELECTRÓNICO</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>

