<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-grid style="background-color: #9c0c0c;">
    <ion-row>
      <ion-col class="ion-text-start" size="6">
        <ion-text color="light"><p><strong>Datos personales</strong></p></ion-text>
        <ion-text class="ion-no-padding" color="light">Actualiza tus datos personales.</ion-text>
      </ion-col>
      <ion-col class="ion-text-end" size="6">
        <img class="logo" style="max-width: 60%;" src="assets/img/avatar.png"/>
      </ion-col>
    </ion-row>    
  </ion-grid>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">CIP</ion-label>
          <ion-input [(ngModel)]="datos.ncodcol" disabled="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nombres</ion-label>
          <ion-input [(ngModel)]="datos.vnomcol" disabled="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input [(ngModel)]="datos.vapecol" disabled="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Fecha nacimiento</ion-label>
          <ion-input [(ngModel)]="datos.dnaccol" disabled="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">País</ion-label>
          <ion-select placeholder="Seleccione un país" name="pais" [(ngModel)]="pais">
            <ion-select-option *ngFor="let p of listpais" [value]="p.ncodpai">{{p.vnompai}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col> -->
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">Departamento</ion-label>
          <ion-select placeholder="Selecciona un departamento" name="departamento" [(ngModel)]="departamento" (ionChange)="filterprov()">
            <ion-select-option *ngFor="let dep of listdep" [value]="dep.ncoddep">{{dep.vnomdep}}</ion-select-option>
          </ion-select>
        </ion-item>   
      </ion-col>      
    </ion-row>
    <ion-row>      
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">Provincia</ion-label>
          <ion-select placeholder="Selecciona una provincia" name="provincia" [(ngModel)]="provincia" (ionChange)="filterdist()">
            <ion-select-option *ngFor="let prov of listprov" [value]="prov.ncodpro">{{prov.vnompro}}</ion-select-option>
          </ion-select>
        </ion-item>   
      </ion-col> 
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">Distrito</ion-label>
          <ion-select placeholder="Selecciona un distrito" name="distrito" [(ngModel)]="distrito">
            <ion-select-option *ngFor="let dist of listdist" [value]="dist.ncoddis">{{dist.vnomdis}}</ion-select-option>
          </ion-select>
        </ion-item>  
      </ion-col>     
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Dirección</ion-label>
          <ion-input [(ngModel)]="datos.vdircol"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input [(ngModel)]="datos.vtelcol"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Celular</ion-label>
          <ion-input [(ngModel)]="datos.vcelcol"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="datos.vcorcol"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button color="success" expand="full" (click)="save()">Guardar</ion-button>
</ion-content>
