.red-header {
    background-color: #9c0c0c;
    color: white;
}
.red-ion-iten {
    --ion-background-color:#9c0c0c;
    color: white;
}
.red-header-sec {
    background-color: #d02929;
    color: white;
}
.disabled {
    background-color: #ece4e4;
}
.mat-step-icon {
    background-color:#9c0c0c;
}